/* Reset */
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Pacifico', cursive; */
}

/* Body */
body {
 padding: 20px;
}

/* Wrapper */
.resume-wrapper {
    margin: 0 auto;
    border: 1px solid red;
    padding: 20px;
    max-width: 1040px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header-right {
    margin-right: 140px;
    font-size: 1.05rem;
}

/* Sections */
section {
    display: flex;
    justify-content: space-between;
}

.section-body {
    display: flex;
    flex-direction: column;
}

/* Left Section */
.left-section {
    flex: 1;
    padding: 5px;
}

.left-section div {
    padding: 5px 0;
}

.left-section h3 {
    font-weight: bold;
}

.left-section ul {
    margin-left: 20px;
}

/* Contact */
.contact-top {
    text-decoration: none;
}

.contact-top li {
    list-style-type: none;
}

.left-section ul li {
    display: inline;
}

.left-section ul li:not(:last-child)::after {
    content: " | ";
}

/* Education */
.education {
    display: flex;
    flex-direction: column;
}

.education span p {
    margin-left: 10px;
}

/* Work Experience */
.work-experience {
    display: flex;
    flex-direction: column;
}

/* Footer */
footer {
    text-align: center;
}

/* Section Body Span */
.section-body span {
    display: flex;
    align-items: center;
}

/* Headings */
h2 {
    text-decoration: underline;
}

/* List Items */
li,
p {
    font-size: 0.9rem;
}

/* Project List */


.project-body {
    margin-left: 20px;
}

hr{
    margin-bottom: 10px;
}

.project-item span h3{
    margin-right: 10px;
    
}

.experience-item {
 display: flex;
 flex-direction: column;
}

.work-list{
    margin-left: 20px;
}

.pro-link{
    font-weight: bold;
    font-style: italic;
}

.project-header{
    display: flex;
    margin-top: 10px;
      
}

.project-header{
display: flex;
justify-content: space-between;

}




/* .project-item p{
margin-left: -185px;
}

#shiva-p{
    margin-left: -245px;
} */
